@import "tailwindcss";
@theme {
    --color-gruvbox-bg: #282828;
    --color-gruvbox-fg: #ebdbb2;
    --color-gruvbox-red: #cc241d;
    --color-gruvbox-green: #98971a;
    --color-gruvbox-yellow: #d79921;
    --color-gruvbox-blue: #458588;
    --color-gruvbox-purple: #b16286;
    --color-gruvbox-aqua: #689d6a;
    --color-gruvbox-gray: #a89984;
    --color-gruvbox-lightbg: #fbf1c7;
    --color-gruvbox-lightfg: #3c3836;
}
@variant dark (&:is(.dark *));
/* Custom scrollbar */

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #7c6f64 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #7c6f64;
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a89984;
    background-clip: content-box;
}
html,
body {
    background: #282828;
}
