@import "tailwindcss";
@theme {
    --color-gruvbox-bg: #282828;
    --color-gruvbox-fg: #ebdbb2;
    --color-gruvbox-red: #cc241d;
    --color-gruvbox-green: #98971a;
    --color-gruvbox-yellow: #d79921;
    --color-gruvbox-blue: #458588;
    --color-gruvbox-purple: #b16286;
    --color-gruvbox-aqua: #689d6a;
    --color-gruvbox-gray: #a89984;
    --color-gruvbox-lightbg: #fbf1c7;
    --color-gruvbox-lightfg: #3c3836;
}
@variant dark (&:is(.dark *));
